/* Estilos generales */
* {
    max-width: 100vw;
}

body {
    color: white;
    overflow-x: hidden;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: transparent;
}

.navbar-toggler {
    margin-left: 1rem;
    all: unset !important;
    cursor: pointer !important;
    font-size: x-large !important;
}

.navbar-collapse {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
    filter: invert(100%) !important;
    background-color: transparent;
}

/* Estilos de la lista de navegación */
.box-ul ul li {
    font-size: medium;
    font-weight: 450;
    padding-left: 10%;
}

.box-ul ul li:hover {
    background-color: rgba(250, 249, 249, 0.396);
    font-weight: 550;
}

/* Estilos de los enlaces de navegación */
.nav-link {
    position: relative;
}

.nav-link::after {
    content: ">";
    position: absolute;
    right: 5%;
    font-size: 1.3rem;
    top: 1%;
}

/* Estilos del contenedor de la barra de navegación */
.box-navbar-change-color {
    margin-top: -8px;
    padding: 20px;
}

/* Estilos del contenedor de iconos de la barra de navegación */
.box-icon-navbar {
    font-size: medium;
}

/* Estilos de la caja CyberBox */
.CyberBox {
    background-image: url(../img/cyberweek-lg.webp);
    background-position: center;
    background-size: cover;
    height: 7rem;
    width: 7rem;
    position: fixed;
    z-index: 9999 !important;
    top: 24%;
    right: 0;
    padding: 30px;
}

/* Estilos de los botones de contacto y soporte */
.contactoFixed,
.soporteFixed {
    position: fixed;
    bottom: 0;
    margin: 15px 20px;
    padding: 0.9em 1.5em;
    opacity: 1;
    border: 0px;
    z-index: 999999;
    font-size: 1rem;
    color: black;
    border-radius: 35px;
}

.contactoFixed {
    left: 5%;
    background-color: white;
}

.soporteFixed {
    background-color: pink;
    right: 5%;
}

/* Estilos del ícono Zendesk */
#zendesk-fake-icon {
    padding-right: 0.57143em;
    fill: currentColor;
    width: 2rem;
    height: 2rem;
}

/* Estilos del título h4 en la caja */
.box h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
}

/* Estilos de las tarjetas */
.supercard {
    margin: 15px;
    background-position: center;
    background-size: cover;
    transition: .3s;
}

.supercard:hover {
    cursor: pointer;
}

/* Estilos de las imágenes de las tarjetas */
.cardimg1,
.cardimg2,
.cardimg3,
.cardimg4,
.cardimg5 {
    background-size: cover;
}

/* Estilos de las imágenes de las tarjetas en hover */
.cardimg1:hover,
.cardimg2:hover,
.cardimg3:hover,
.cardimg4:hover,
.cardimg5:hover {
    cursor: pointer;
}

.cardimg1 {
    background-image: url(../img/carousel-1.webp);
}

.cardimg2 {
    background-image: url(../img/carousel-2.webp);
}

.cardimg3 {
    background-image: url(../img/carousel-3.webp);
}

.cardimg4 {
    background-image: url(../img/carousel-4.webp);

}

.cardimg5 {
    background-image: url(../img/carousel-5.webp);
}


/* Estilos del contenedor de videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

/* Estilos del iframe dentro del contenedor de videos */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos de los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

/* Estilos del ícono de siguiente en el carrusel */
.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: white;
}

/* Estilos del ícono de anterior en el carrusel */
.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: white;
}

/* Estilos de la caja de locales */
.box-locales {
    background-image: url('../img/locales.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Estilos del botón dentro de la caja de locales */
.box-locales button {
    position: absolute;
    bottom: 10%;
    left: 6%;
    border-radius: 30px;
    width: auto;
    padding: 8px 20px;
    border: 0;
    background-color: rgb(253, 164, 179);
    color: white;
    font-weight: 600;
}

/* Media queries para pantallas más grandes */
@media (min-width: 992px) {
    .CyberBox {
        height: 10rem;
        width: 10rem;
    }

    .box-icon-navbar {
        font-size: x-large;
    }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 992px) {
    .box-navbar-change-color img {
        max-height: 40px;
    }

    .contactoFixed strong,
    .soporteFixed strong {
        display: none;
    }

    .contactoFixed,
    .soporteFixed {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .8rem;
    }
}

/* Estilos adicionales para tarjetas frías */
.cold-card {
    position: relative;
}

.bi-bag-heart {
    font-size: xx-large;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.box-colors {
    position: absolute;
    bottom: 5%;
    left: 2%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}


.inverted-image {
    filter: invert(100%) !important;
}
